@page
@model EgetTest04.Pages.Cities.ShowCitiesInCountryModel
@{
    ViewData["Title"] = "ShowCitiesInCountry";
}

<h1>ShowCitiesInCountry</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Country</label>
        <select asp-for="InCountry" class="form-control" id="countrychange"
                asp-items="@(new SelectList(Model.Countries, "Id", "Name"))">
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">City</label>
        <select asp-for="InCity" class="form-control" id="citychange"
                asp-items="@(new SelectList(String.Empty, "Id", "Name"))">
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Enter" class="btn btn-primary" />
    </div>
</form>
